* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body, html {
    background-color: #76d7c4;
    display: grid;
    place-items: center;
    height: 100%;
}
h4 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    line-height: 3rem;
    color: rgb(88, 131, 33);
}
.container{
    box-shadow: -3px -3px 2px rgba(0,0,0,0.459),
                5px 5px 5px rgba(0,0,0,0.2),
                15px 15px 15px rgba(216, 11, 11, 0.1);
    border-radius: 20px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
form input{
    margin: 10px 0;
    outline: none;
    border: none;
}
form input.box{
    width: 400px;
    height: 35px;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 20px;
}
form input.button{
    font-size: 1.5rem;
    padding: 5px 40px;
    border-radius: 20px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}
form input.button:hover{
    background-color: rgb(209, 53, 53);
}

h5{
    background-color: red;
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
}

.message-content{
    color: rgb(111, 10, 124);
    border-bottom: 2px solid;
}

.feedback{
    display: none;
}
/* belongs to JS*/
.show {
    display: block;
}